<div class="{{if hasDockingTarget 'positioned'}} preview" style={{previewStyle}}>
  <div class="table-container">
    <div class="table-container-cell middle">
      <h5 class="text-center">{{dockMessage}}</h5>
      <p class="text-center">{{draggingPosition.left}},{{draggingPosition.top}}</p>
    </div>
  </div>
</div>
