<div class="{{containerClass}}" >
  <div class="section-controls-container">
    {{section-drag-control sectionComponent=this}}
    <span class="layout-control" {{action "editSection"}}>
      <span class="glyphicon glyphicon-cog boxed"/>
    </span>
    <span class="layout-control" {{action "removeSection"}}>
      <span class="glyphicon glyphicon-remove boxed"/>
    </span>

  </div>
  {{#if hasRows}}
    {{#each model.rows as |row|}}
      {{bs-row-editor model=row
                      onRowRemove=(action 'onRowRemove')
                      onCardRemove=(action 'onCardRemove')
                    }}
    {{/each}}
  {{else}}
  <div class="row">
    <div class="col-md-12">
      <h2>Hey No Cards! Drop something here!</h2>
    </div>
  </div>
  {{/if}}
</div>
