{{#if hasSections}}
  {{#each model.sections as |section|}}
    {{layout-section-editor
                  model=section
                  onRemoveSection=(action 'onRemoveSection')}}
  {{/each}}
{{else}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Drag a card a component here</h2>
      </div>
    </div>
  </div>
{{/if}}


{{card-controls visible=controlsVisible
  onEditCard=(action 'onEditCard')}}
{{card-resizer}}
{{section-controls
  onEditSection=(action 'onEditSection')
  onRemoveSection=(action 'onRemoveSection')}}
{{card-drop-targets }}
{{row-drop-targets }}
{{drop-preview
  dragMessage="Drag to new position"
  dockLeftMessage="Split and Dock to the left"
  dockRightMessage="Split and Dock to the right"
  dockTopMessage="Add to top"
  dockBottomMessage="Add to bottom"
}}
