<div class="target-container" style={{targetContainerStyle}}>
  <div class="card-drop-target left {{if (eq dockingTarget 'left') 'hover'}}"
    {{action "updateDockingTarget" "left" true on="mouseEnter"}}
    {{action "updateDockingTarget" on="mouseLeave"}}
    ></div>
  <div class="card-drop-target right {{if (eq dockingTarget 'right') 'hover'}}"
    {{action "updateDockingTarget" "right" true on="mouseEnter"}}
    {{action "updateDockingTarget" on="mouseLeave"}}
    ></div>
</div>


<div class="{{if hasDockingTarget 'positioned'}} preview" style={{previewStyle}}>
  <div class="table-container">
    <div class="table-container-cell middle">
      <h5 class="text-center">{{dockMessage}}</h5>
      <p class="text-center">{{draggingPosition.left}},{{draggingPosition.top}}</p>
    </div>
  </div>
</div>
